.ProductCard {
    display: flex;
    align-items: center;

    margin: 1rem 0;
    padding: 0 3rem;
    font-size: 1.2rem;
}

.Product__image {
    flex-basis: 250px;
}

.ProductDetailsCard__content > * {
    margin: 2rem 0 2rem 2rem;
}

.Product__price {
    font-size: 1.5rem;
}

.Product__specifications {
    display: flex;
    gap: 1rem;
}

.ProductCard.featured {
    background: #ebebeb;
    max-width: calc(300px * 3 + 3rem * 2);
    border: 1px dashed #555555;
    border-radius: 4px;
}

/* REMOVE LATER */
.Spec {
    display: flex;
    gap: 0.25rem;
}

.Icon {
    width: 16px;
}